In [1]:
%matplotlib inline
import geopandas as gpd

In [7]:
#using geopandas to load MSOA polygon file in London
filepath="../../London_Data/ESRI/MSOA_2011_London_gen_MHW.shp" 

msoa_polygon_data = gpd.read_file(filepath)
msoa_polygon_data = msoa_polygon_data.rename(columns={'MSOA11CD': 'msoa11'})
msoa_polygon_data.head()

,msoa11,MSOA11NM,LAD11CD,LAD11NM,RGN11CD,RGN11NM,USUALRES,HHOLDRES,COMESTRES,POPDEN,HHOLDS,AVHHOLDSZ,geometry
0,E02000001,City of London 001,E09000001,City of London,E12000007,London,7375,7187,188,25.5,4385,1.6,"(POLYGON ((531667.624000648 180534.9919998788,..."
1,E02000002,Barking and Dagenham 001,E09000002,Barking and Dagenham,E12000007,London,6775,6724,51,31.3,2713,2.5,"POLYGON ((548881.56299972 190845.2650004694, 5..."
2,E02000003,Barking and Dagenham 002,E09000002,Barking and Dagenham,E12000007,London,10045,10033,12,46.9,3834,2.6,"POLYGON ((549102.4379997085 189324.6249996283,..."
3,E02000004,Barking and Dagenham 003,E09000002,Barking and Dagenham,E12000007,London,6182,5937,245,24.8,2318,2.6,"POLYGON ((551549.9979995684 187364.6370000704,..."
4,E02000005,Barking and Dagenham 004,E09000002,Barking and Dagenham,E12000007,London,8562,8562,0,72.1,3183,2.7,"POLYGON ((549099.6339997301 187656.076, 549161..."